html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

.title{
  position: relative;
  z-index: 9;
  background: rgba(28, 201, 149, 0.4);
  padding: 8px 13px;
  border-radius: 3px;
}
.navbar.navbar-inverse {
  background: #11674d;
  border-bottom: none;
}
.navbar {
  color: rgba(255, 255, 255, 0.8);
  min-height: 0px;
  padding: 5px 5px 5px 5px;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.navbar-header {
  float: left;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
h2 {
  margin: 0px;
  position: absolute;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
.h1, .h2, .h4, .h5, .h6, h1, h2, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.navbar-right {
  float: right!important;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.nav>li {
  position: relative;
  display: block;
}
.navbar-nav>li {
  float: left;
}
.navbar-fixed-top {
  border-radius: 0;
}
nav {
 display: block; 
}
