<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header lftnav">
  <div class="title">
    <a on-click="displayType=1">
     <span> Boards</span>
    </a>
    </div>
    </div>
    <div class="tskm">
      <h3 class="tskmHdng">Task Manager</h3>
    </div>
   
    <ul class="nav navbar-nav navbar-right mynav">
    <li>siva</li>
    </ul>
    <div class="clearfix"></div>
   
  </nav>
<div  [ngClass]="displayType==1?'board-container page-wrapper':'page-wrapper task-list-container'"  class='board-container page-wrapper'>
<div *ngIf="displayType==1" class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <span class="task-board">Task Boards</span>
    </div>
  </div>
  <div class='row'>
    <div *ngIf='boardData' class='col-md-12'>
      <div class='board-cont' *ngFor="let board of boardData">
        <span on-click="deleteBoard(board._id)" class="close-board">
          <img class="img-responsive" src="https://mean-trello-clone.herokuapp.com/assets/cancel-music.svg">
        </span>
        <div on-click="getBoardDetails(board._id)" class='board'>
          <h3>{{board.board_name}}</h3>
        </div>
      </div>
      <div class='board create-board'>
        <div on-click="showTask()" class='create-board-padding'>
          <h3>Create new Board</h3>
        </div>
        <div *ngIf="createTaskBoard"  class="create-board-form">
					<form  novalidate="" class="ng-untouched ng-pristine ng-valid">
						<input  class="form-control ng-untouched ng-pristine ng-valid" name="taskname" placeholder="Board name"  [(ngModel)]="dashboardName" type="text">
						
						<button on-click="createDashboard()" type="button" class="btn btn-default green_btn">Save</button>
						<button on-click="showTask()" class="btn btn-default" type="button">Cancel</button>
                        <div  class="clear"></div>
					</form>
				</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="displayType==2" class='container-fluid'>
  <div  class="row">
    <div *ngIf='boardDetailsData && boardListData'  class="col-md-12">
        <h3  class="board-name">{{boardDetailsData.board_name}}</h3>
        <div *ngFor="let item of boardListData.lists;let i=index"  class="list-card">
          <input   class="edit-list-name ng-untouched ng-pristine ng-valid" [(ngModel)]="item.list_name" readonly="" type="text">
          
          <div [ngClass]="viewDeleteButton==0?'btn-group actions list-actions':'btn-group actions list-actions open'"   dropdown="">
              <button on-click='changeView(item)'  class="dropdown-toggle" dropdowntoggle="" type="button" aria-haspopup="true">
...
</button>
<ul *ngIf='item._id==deleteListId'  class="dropdown-menu" role="menu">
  <li role="menuitem"><a on-click="deleteListDetails(item._id,i)" class="dropdown-item" href="javascript:;">Delete List</a></li>

</ul> 
          </div>
          <div  class="clear"></div>
          <!-- <bs-sortable  itemactiveclass="sortable-item-active" itemclass="task-item sortable-item"  placeholderclass="placeholderStyle" placeholderitem="Drag here" wrapperclass="sortable-wrapper" class="ng-untouched ng-valid ng-dirty">
<div class="sortable-wrapper">
<div class="placeholderStyle">Drag here</div>

</div>

  
</bs-sortable> -->
<div *ngIf='boardListData && boardListData.lists[i] && boardListData.lists[i].taskData && boardListData.lists[i].taskData.task'>
<div on-click="editListShow(item)" *ngFor="let item of boardListData.lists[i].taskData.task.tasks" draggable="true" class="task-item sortable-item">
  <h4 *ngIf="editList==0"  class="task-name">{{item.task_name}}</h4>
  <div class="edit-task-name edit-dialog selected-card" *ngIf="showId==item._id && editList==1">
      <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="item.task_name" type="text">
      <button on-click="saveTask(item)"  class="btn btn-default green save-card">Save</button>
      <button on-click="editList=0"  class="btn btn-default cancel-card">Cancel</button>
      <div  class="clear"></div>
      <div on-click="deleteTask(item,boardListData.lists[i]._id,i)" class="close-btn cancel-card">× Delete Task </div>
  </div>
</div>
</div>
          <div *ngIf='item._id==createTaskView && createTask==1'  class="task-item new-card edit-dialog">
              <div  class="edit-task">
                  <textarea [(ngModel)]="createTaskName"  class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                  <button on-click="createNewTask(item,i)"  class="btn btn-default green save-card">Save</button>
                  <button on-click="createTask=0"  class="btn btn-default cancel-card">Cancel</button>
                  <div  class="clear"></div>
              </div>
          </div>
          <a  on-click="createTaskData(item)" class="add-card" href="javascript:;">          Add a task</a>
      </div> 
        <div [ngClass]="viewClass==1?'list-card create-list-card':'list-card create-list-card create-open'">
            <div on-click="changeViewClass()" ><a  href="javascript:;">Create a new list..</a></div>
            <div *ngIf='viewClass==2'  class="create-list">
              <form  novalidate="" class="ng-untouched ng-pristine ng-valid">
                  <input  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="listName" name="listname" type="text">
                  <!---->
                  <button on-click="saveList(boardDetailsData._id)"  class="btn btn-default green" type="submit">Save</button>
                  <button on-click='viewClass=1'   class="btn btn-default" type="button">Cancel</button>
                  <div  class="clear"></div>
              </form>
          </div>

        </div>
    </div>
</div>
</div>
<div class="overlay" *ngIf="editList==1 || createTask==1" on-click="hideMask()"></div>
</div>
