/*styles for home content only*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-wrapper {
    padding-top: 80px;
}
.board.create-board {
    padding: 0px;
    background: #eee;
    color: #333;
    cursor: pointer;
}
.task-board {
    font-size: 20px;
    font-weight: 600;
}
.board-cont {
    position: relative;
    width: 250px;
    height: 100px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
  }
  
  .board {
    position: relative;
    padding: 10px 15px;
    background: #11674d;
    color: #fff;
    cursor: pointer;
    width: 250px;
    height: 100px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
  }
  .board-cont {
    position: relative;
    width: 250px;
    height: 100px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
  }
  
  .board.create-board{
    padding: 0px;
    background: #eee;
    color: #333;
    cursor: pointer;
  }
  .board.create-board .create-board-padding {
    padding: 10px 0px;
  }
.board-cont .close-board {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 999999;
    top: 15px;
}
.board-cont:hover .close-board{
    display:block;
}
.board-cont .close-board img {
    width: 10px;
    height: 10px;
}
.board.create-board h3{
    text-align: center;
    margin: 25px 0px;
}
.board.create-board.create-board-form {
    position: absolute;
    background: #fff;
    width: 100%;
    border: 1px solid #eee;
    padding: 15px;
}
.task-list-container {
    background: rgba(17, 103, 77, 0.9);
    min-height: 100vh;
}
.task-list-container .board-name {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
}
.list-card.create-list-card {
    background: rgba(255, 255, 255, 0.12);
}
.list-card {
    margin-top: 20px;
    background: #e2e4e6;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 280px;
    padding: 10px;
    border-radius: 3px;
}
.list-card.create-list-card a{
    color: rgba(255, 255, 255, 0.48);
}
.list-card a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.list-card {
    margin-top: 20px;
    background: #e2e4e6;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 280px;
    padding: 10px;
    border-radius: 3px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.list-card > input[type=text] {
    float: left;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 600;
    border: none;
    background: none;
    margin-bottom: 15px;
    cursor: pointer;
    text-transform: capitalize;
    color: #333 !important;
}
.list-card .task-item.new-card {
    padding: 10px;
    /* display: none; */
    background: rgba(255, 255, 255, 0.64);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 999999999999999999999;
}
.list-card a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    padding-left: 17px;
}
.actions .dropdown-toggle {
    background: none;
    border: none;
    padding: 0px;
    box-shadow: none !important;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -16px;
}
.task-item {
    background: #fff;
    padding: 2px 15px 15px 10px;
    border-radius: 3px;
    margin-bottom: 8px;
    position: relative;
}
.task-item input[type='text'], .task-item h4 {
    font-size: 14px;
    border: none;
    margin-top: 5px;
    text-transform: capitalize;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: block;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.6);
}
.edit-task-name {
    position: relative;
}
.task-item .edit-task-name {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    margin: 0px -14px -14px -9px;
}
.task-item .selected-card, .task-item.selected-card {
    position: relative;
    z-index: 999999999999999;
}
.edit-task-name .close-btn {
    position: absolute;
    right: -100px;
    top: 2px;
    background: #c33e3e;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999999999999999999999999999999999999991000;
    /* display: none; */
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.green_btn{ background-color: #11674d; color: #fff; border:none;}
.green_btn:hover{ background: rgba(28, 201, 149, 0.4);}
.tskm{ padding: 0px; margin: 0px;}
.mynav{ list-style: none; padding: 0px; margin: 0px;}
.lftnav{ width: 32%; float: left;}
.tskm{ width: 32%; float: left; text-align: center;}
.mynav{ width: 32%; float: left; }
.title{ width: auto; display: inline-block; margin: 3px 10px;}
.tskmHdng{ padding: 15px 0px 0px 0px; margin: 0px; font-size: 14px; font-weight: bold; }
.mynav > li{ display: block; float: right; padding: 10px; font-size: 14px; font-weight: bold;}